<div class="comment span-18">
  <div class="meta">  
    <strong><%= comment.name.blank? ? '[Anonymous]' : comment.name %></strong><% unless comment.url.blank? %> | <%=h comment.url %><% end %> <%= comment.updated_at.strftime("%B %d, %Y at %I:%M%p") %>
  </div>

  <div class="body">
    <p><%= auto_link(safe(comment.body)) %></p>
  </div>
  
</div>
