<% content_for :head do %>
  <link href="<%= url_for :only_path => false, :controller=>'comments', :format=>'rss' %>"  rel="alternate" type="application/rss+xml" />
<% end %>

<%= render :partial => 'shared/wordsmith_content_for'%>

<h1>Recent Comments</h1>

<div id="comments" class="content">
  <%= render @comments %>
</div>