<% content_for :head do %>
  <%= stylesheet_tags 'compiled/wordsmith' %>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'shared/recent_articles'%>
<% end %>

<div class="posts">
  <% for post in @posts %>
  	<%= render :partial => post %>
  <% end %>
  
  <%= will_paginate(:prev => "&#171; #{t('previous')}", :next => "#{t('next')} &#187;") %>
</div>
